*{
  padding: 0px;
  margin: 0px;
}
nav{
 height: 100px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.navbar-img{
  width: 160px;
}
.searchbar-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 2px;
  margin: 0 auto;
  align-items: center;
}
.searchbar {
  margin-right: 20px;
  background: white;
}
.searchbar input{
  padding: 10px;
  box-shadow: 0px 2px 2px 0px (0, 0, 0, 0.25);
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.searchbar-bnt button{
  background-color: #0e6f9f;
  border: none;
  border-radius: 5px;
  padding: 4px;
  height: 44px;
  color: white;
  cursor: pointer;
}
.pokedex-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.pokedex-grind{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.pokemon-card{
  display: flex;
  box-shadow: 4px 4px 4px (0, 0, 0, 0.25);
  border-radius: 4px;
}
.pokemon-image{
  width: 70px;
  height: 70px;
  margin: 0 10px;
}

.App{
  text-align: center;
}


